src/Core.Microsoft/Service References/VirtualEarth.Imagery/contracts.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:tns="http://dev.virtualearth.net/webservices/v1/imagery/contracts" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://dev.virtualearth.net/webservices/v1/imagery/contracts" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://dev.virtualearth.net/webservices/v1/imagery/contracts/Imports">
      <xsd:import schemaLocation="http://dev.virtualearth.net/webservices/v1/metadata/imageryservice/ImageryService2.xsd" namespace="http://dev.virtualearth.net/webservices/v1/imagery/contracts" />
      <xsd:import schemaLocation="http://dev.virtualearth.net/webservices/v1/metadata/imageryservice/ImageryService3.xsd" namespace="http://dev.virtualearth.net/webservices/v1/common" />
      <xsd:import schemaLocation="http://dev.virtualearth.net/webservices/v1/metadata/imageryservice/ImageryService5.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://dev.virtualearth.net/webservices/v1/metadata/imageryservice/ImageryService.xsd" namespace="http://dev.virtualearth.net/webservices/v1/imagery" />
      <xsd:import schemaLocation="http://dev.virtualearth.net/webservices/v1/metadata/imageryservice/ImageryService4.xsd" namespace="http://dev.virtualearth.net/webservices/v1/search" />
      <xsd:import schemaLocation="http://dev.virtualearth.net/webservices/v1/metadata/imageryservice/ImageryService1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImageryService_GetImageryMetadata_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageryMetadata" />
  </wsdl:message>
  <wsdl:message name="IImageryService_GetImageryMetadata_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageryMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="IImageryService_GetImageryMetadata_ResponseSummaryFault_FaultMessage">
    <wsdl:part xmlns:q1="http://dev.virtualearth.net/webservices/v1/common" name="detail" element="q1:ResponseSummary" />
  </wsdl:message>
  <wsdl:message name="IImageryService_GetMapUri_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMapUri" />
  </wsdl:message>
  <wsdl:message name="IImageryService_GetMapUri_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMapUriResponse" />
  </wsdl:message>
  <wsdl:message name="IImageryService_GetMapUri_ResponseSummaryFault_FaultMessage">
    <wsdl:part xmlns:q2="http://dev.virtualearth.net/webservices/v1/common" name="detail" element="q2:ResponseSummary" />
  </wsdl:message>
  <wsdl:portType name="IImageryService">
    <wsdl:operation name="GetImageryMetadata">
      <wsdl:input wsaw:Action="http://dev.virtualearth.net/webservices/v1/imagery/contracts/IImageryService/GetImageryMetadata" message="tns:IImageryService_GetImageryMetadata_InputMessage" />
      <wsdl:output wsaw:Action="http://dev.virtualearth.net/webservices/v1/imagery/contracts/IImageryService/GetImageryMetadataResponse" message="tns:IImageryService_GetImageryMetadata_OutputMessage" />
      <wsdl:fault wsaw:Action="http://dev.virtualearth.net/webservices/v1/imagery/contracts/IImageryService/GetImageryMetadataResponseSummaryFault" name="ResponseSummaryFault" message="tns:IImageryService_GetImageryMetadata_ResponseSummaryFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMapUri">
      <wsdl:input wsaw:Action="http://dev.virtualearth.net/webservices/v1/imagery/contracts/IImageryService/GetMapUri" message="tns:IImageryService_GetMapUri_InputMessage" />
      <wsdl:output wsaw:Action="http://dev.virtualearth.net/webservices/v1/imagery/contracts/IImageryService/GetMapUriResponse" message="tns:IImageryService_GetMapUri_OutputMessage" />
      <wsdl:fault wsaw:Action="http://dev.virtualearth.net/webservices/v1/imagery/contracts/IImageryService/GetMapUriResponseSummaryFault" name="ResponseSummaryFault" message="tns:IImageryService_GetMapUri_ResponseSummaryFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>